@font-face {
  font-family: 'tex';
  src: url(https://PeterEFrancis.com/HTMLTeX/fonts/lmroman8-regular.otf);
}

.HTMLTeX {
  font-family: 'tex';
  font-size: 13pt;
}

.HTMLTeX a.highlight {
  border: 1px solid cyan;
}

.HTMLTeX blockquote {
  margin-top: 20px;
}

.HTMLTeX .section {
  margin-top: 50px;
}

.HTMLTeX .subsection {
  font-size: 16pt;
}


.HTMLTeX-toc ol {
  counter-reset: item;
}

.HTMLTeX-toc li {
  display: block;
}

.HTMLTeX-toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}


.HTMLTeX .table-container {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.HTMLTeX cite {
  font-style: normal;
}


.HTMLTeX div.panel-body {
  overflow: scroll;
}

.HTMLTeX br {
  display: block;
  margin: 1em 0;
  line-height: 2em;
  content: " ";
}

@media print {
  .HTMLTeX .collapse {
    display: block !important;
    height: auto !important;
  }

  .HTMLTeX a {
    border: 0px;
  }

  .HTMLTeX .glyphicon-collapse-down, .HTMLTeX .glyphicon-collapse-up{
    display: none;
  }

}
